In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("../notebooks/vgecocup_test_results.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df

             filename     x     y     w    h     score
0    atordjma_001.jpg   363   151   557  738  1.000000
1    atordjma_002.jpg   672   582   224  366  0.999872
2    atordjma_003.jpg  1199   298   649  616  1.000000
3    atordjma_003.jpg  1275   309   261  114  0.980425
4    atordjma_004.jpg   906   340   244  346  0.999975
..                ...   ...   ...   ...  ...       ...
317  thlauren_013.jpg   479  1226   836  691  0.998927
318  thlauren_013.jpg  3345  1160   655  701  0.990143
319  thlauren_013.jpg  1310  1212   419  642  0.978286
320  thlauren_013.jpg  3270  1912   537  760  0.920891
321  thlauren_014.jpg   144  1376  1920  912  0.979596

[322 rows x 6 columns]

In [9]:
df = df[["filename", "y", "x", "h", "w", "score"]]
df.columns = ["img", "i", "j", "h", "l", "s"]
df

                  img     i     j    h     l         s
0    atordjma_001.jpg   151   363  738   557  1.000000
1    atordjma_002.jpg   582   672  366   224  0.999872
2    atordjma_003.jpg   298  1199  616   649  1.000000
3    atordjma_003.jpg   309  1275  114   261  0.980425
4    atordjma_004.jpg   340   906  346   244  0.999975
..                ...   ...   ...  ...   ...       ...
317  thlauren_013.jpg  1226   479  691   836  0.998927
318  thlauren_013.jpg  1160  3345  701   655  0.990143
319  thlauren_013.jpg  1212  1310  642   419  0.978286
320  thlauren_013.jpg  1912  3270  760   537  0.920891
321  thlauren_014.jpg  1376   144  912  1920  0.979596

[322 rows x 6 columns]

In [11]:
df.to_csv("../vgecocup_results.csv", index=False, header=False)